<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" href="https://s3-us-west-2.amazonaws.com/hexingren/framework/img/r.png">
		
		<title>Hexing Ren | Cost of Living Index by Country 2017</title>
		<!-- Custom styles for this page -->
		<link href="../css/index.css" rel="stylesheet">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	</head>
	
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://www.hexingren.com/portfolio">&reg; Hexing Ren</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="http://www.hexingren.com/portfolio#portfolio">BACK</a></li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://www.hexingren.com/portfolio#home">HOME</a></li>
						<li><a href="http://www.hexingren.com/portfolio#about">ABOUT</a></li>
						<li><a href="http://www.hexingren.com/academics">ACADEMICS</a></li>
						<li><a href="https://s3-us-west-2.amazonaws.com/hexingren/resume.pdf">RESUME</a></li>
						<li><a href="http://www.hexingren.com/portfolio#portfolio">PORTFOLIO</a></li>
						<li><a href="http://www.hexingren.com/portfolio#contact">CONTACT</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron">
				<h2>Cost of Living Index by Country 2017</h2>
				<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1+from+1XqfnD4KO8ksOfDc3e9Nhb97_p0N3iEQp7SvTfoG9&amp;viz=MAP&amp;h=false&amp;lat=61.6842459833012&amp;lng=35.19627143750016&amp;t=1&amp;z=2&amp;l=col1&amp;y=2&amp;tmplt=3&amp;hml=GEOCODABLE"></iframe>
				<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
				<p>To see the difference between static and fixed top navbars, just scroll.</p>
			</div>
		</div> <!-- /container -->
		
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</body>
</html>