<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="https://s3-us-west-2.amazonaws.com/hexingren/framework/img/r.png">
    
    <title>Hexing Ren | Seattle Restaurant Week</title>
    <!-- Custom styles for this page -->
    <link href="../css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  
  <body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.hexingren.com/portfolio">&reg; Hexing Ren</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.hexingren.com/portfolio#home">HOME</a></li>
          <li><a href="http://www.hexingren.com/portfolio#about">ABOUT</a></li>
          <li><a href="http://www.hexingren.com/academics">ACADEMICS</a></li>
          <li><a href="https://s3-us-west-2.amazonaws.com/hexingren/resume.pdf">RESUME</a></li>
          <li><a href="http://www.hexingren.com/portfolio#portfolio">PORTFOLIO</a></li>
          <li><a href="http://www.hexingren.com/portfolio#contact">CONTACT</a></li>
          <li class="active"><a href="http://www.hexingren.com/data-pipeline">BACK</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  
  <div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="row">
      <div class="col-md-8"><h2>Cost of Living Index by Country 2016</h2></div>
      <div class="col-md-4" align="right"><a type="button" class="btn btn-lg btn-default" href="https://www.numbeo.com/cost-of-living/cpi_explained.jsp" target="_blank">Indices Explanation</a></div>
      </div><br>
      <form name='test'>
        <input type="radio" name="field" value="one" onclick='check_value(1)'>one 
        <input type="radio" name="field" value="two" onclick='check_value(2)'>two 
        <input type="radio" name="field" value="three" onclick='check_value(3)'>three 
      </form>
      <div id='imagedest'>
        <iframe height="600px" width="100%" style="border-style: ridge; padding: 3%" src="https://view-awesome-table.com/-KbwuVHQ_xeG3KOd1k--/view"></iframe></div>

      <!-- map with table -->
      <!--div data-type="AwesomeTableView" data-viewID="-Kbx0n-vwWN2zbYxsekG"></div-->
      <!-- advanced summary -->
      <!--div data-type="AwesomeTableView" data-viewID="-KbwuVHQ_xeG3KOd1k--"></div-->

      <h3>Ask A Question</h3>
      <p>How can we quickly check cost of living index of a country or an area in the world? What is a rough distribution of countries and areas with low/high cost of living index?</p>
      <h3>Answer It With Data</h3>
      <p>We marked 122 countries and areas in the world on a map with dots in different colors (the first 40 or so countries/areas with highest cost of living index are in <span style="color:#ff0000">red</span>; the 40 or so in the middle are in <span style="color:#800080">purple</span>; the last 40 or so are in <span style="color:#ffbf00">yellow</span>) as shown above. To find cost of living indices of a country or an area in 2016, we can locate it on the map and check out its indices by clicking the corresponding dot.</p>
      <p>From the map, we can see that in 2016 countries and areas with high cost of living index are mainly in Europe, Middle East, North and Central America, and East Asia. Most of them are coastal countries and areas. Countries and areas with low cost of living index are mainly in Africa, Central and South Asia, and South America. Most of them are landlocked countries and areas.</p>
      <h3>References</h3>
      <p>Data Source: <a href="https://www.numbeo.com/cost-of-living/rankings_by_country.jsp" target="_blank">https://www.numbeo.com</a></p>
    </div>
    <!-- START OF FOOTER -->
    <footer class="container-footer text-center"><p class="copyright text-muted small">&copy; <a href="mailto:hexingren@gmail.com">Hexing Ren</a></p></footer>
    <!-- END OF FOOTER -->
  </div> <!-- /container -->
 
    


    
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script language='JavaScript' type='text/javascript'>
    function check_value(fieldvalue)
    {    
      switch(fieldvalue)
      {
        case 1:
          document.getElementById("imagedest").innerHTML = '<iframe height="600px" width="100%" style="border-style: ridge; padding: 3%" src="https://view-awesome-table.com/-KbwuVHQ_xeG3KOd1k--/view"></iframe>';
            break;
        case 2:
          document.getElementById("imagedest").innerHTML = '<iframe height="600px" width="100%" style="border-style: ridge; padding: 3%" src="https://view-awesome-table.com/-KbzIxxjOaBrb5D6yLeV/view"></iframe>';
            break;
        case 3:
          document.getElementById("imagedest").innerHTML = "<img src='black.jpg'>"; 
            break;
      }
    }
    </script>
</body>
</html>
