body {
	padding-top: 70px;
}

/* BEGIN OF FOOTER */
.container-footer {
	padding: 0px 50px 50px;
	/* background-color: #000; */
}
.copyright {
    color: #000;
}
a {
	color: #000 !important;
	text-decoration: none;
}
a:hover {
	color: #000 !important;
	text-decoration: underline;
}
/* END OF FOOTER */